.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.display-flex{
    display: flex;
}
/* Dark-02 */
.text-gray{
    color: #424242;
}

/* Dark-03 */
.text-light-gray{
    color: #727272;
}

/* bg-light background color */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* btn-primary */
.btn-primary{
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main>section{
    margin-top: 130px;
}
/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: bold;

}
.nav-links{
    gap: 30px;
}

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}

.banner-image{
    width: 100%;
    margin-bottom: 45px;
}

/* teams section */
.teams{
    align-items: center;
    justify-content: center;
    gap: 73px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    row-gap: 24px;
    column-gap: 24px;
}

.team-img-container img{
    width: 100%;
    height: 100%;
}

.our-features{
    max-width: 537px;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.quick-list{
    font-weight: 500;
}
.features-1{
    color: #FF900E;
}
.feature-description{
    margin-bottom: 32px;
}

/* features will enjoy */
.features{
    gap: 140px;
}

#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.features-card{
    padding: 20px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.features-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.featured-architect img{
    width: 100%;
}

#experience-badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4.06rem;
    font-weight: bold;
}
/* some facts related style */
.fact-description{
    max-width: 540px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-naem{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}


/* sponsors related style */

.sponsors-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.sponsor-companies img{
    filter: grayscale(100%);
}


/* footer style */
footer{
    margin-top: 169px;
    padding: 10px;
    text-align: center;
    background-color: #FFF4E7;
    border-radius: 8px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .features{
        flex-direction: column;
    }
    .teams{
        flex-direction: column;
    }
    #experience-badge{
        margin: 0px;
    }
    .our-features{
        text-align: center;
    }
    .team-img-container, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }

}

/* medium size device */
@media screen and (min-width: 577px) and (max-width: 992px) {
        .teams, .features{
            flex-direction: column;
        }

        #experience-badge{
            margin-top: 20px;
            margin-left: 20px;
        }
        .our-features{
        text-align: center;
        }
        .facts-container{
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
            justify-items: center;
        }
        .sponsor-companies{
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            justify-items: center;
        }
}